/*======= VARIABLES =======*/
/*======= MIXINS=======*/
/*========COMMON CSS=======*/
body {
  font-family: "Baloo Bhai 2", cursive;
  line-height: 25px;
  background: #f4f9f4;
}

html,
body * {
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*========COMMON CSS=======*/
/*========HEADER START=======*/
.site-header {
  padding: 0 30px;
}
.site-header .logo-holder {
  width: 110px;
}
.site-header .menu-wrapper {
  width: calc(100% - 110px);
  background: #e2ede8;
}
.site-header .menu-wrapper .menu-list li a {
  padding: 0 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 7px;
  color: #444;
  transition: all 0.5s ease-in-out;
}
.site-header .menu-wrapper .menu-list li a:hover {
  background: #c7d9d5;
}
.site-header .menu-wrapper .menu-list li:not(:last-child) {
  margin-right: 30px;
}
.site-header .menu-wrapper .menu-list li.active a {
  background: #c7d9d5;
}

/*========HEADER END=========*/
/*========INDEX PAGE START======*/
.hero-section {
  margin-top: -133px;
  padding-top: 133px;
  padding-bottom: 205px;
}
.hero-section .image-holder {
  height: 653px;
  width: 653px;
  background: url("../images/shape.png") no-repeat center;
}
.hero-section .image-holder img {
  border-radius: 100%;
  height: 375px;
  width: 375px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #b7d3cf;
}
.hero-section .hero-text-holder {
  width: calc(100% - 653px);
  padding: 0 35px;
  text-align: center;
}
.hero-section .hero-text-holder h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 1;
  padding-bottom: 5px;
  color: #6c9894;
}
.hero-section .hero-text-holder p {
  color: #6c9894;
  font-size: 22px;
  line-height: 30px;
}
.hero-section .hero-text-holder a {
  display: inline-block;
  padding: 5px 20px 3px 20px;
  background: #6c9894;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.hero-section .hero-text-holder a:hover {
  background: #a7d7c5;
  color: #444;
}

.section-heading {
  text-align: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto 100px auto;
  color: #6c9894;
}
.section-heading h3 {
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
}
.section-heading p {
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0 0 0;
}

.section-heading.color-white {
  color: #fff;
}

.padding-y-60 {
  padding: 60px 0;
}

.choose-class-section {
  background: rgb(108, 152, 148);
  position: relative;
}
.choose-class-section .right-boject {
  position: absolute;
  right: 0;
  top: -373px;
}
.choose-class-section .class-wrapper {
  margin: 0 -20px;
}
.choose-class-section .class-wrapper .class-box {
  padding: 0 20px;
  width: 33.33%;
}
.choose-class-section .class-inner .class-shape {
  width: 385px;
  height: 381px;
  background: url("../images/shape-white.png") no-repeat center;
  margin: 0 auto;
}
.choose-class-section .class-inner .class-shape img {
  width: 322px;
  height: 322px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose-class-section .class-inner h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 1;
}
.choose-class-section .class-inner p {
  margin: 0;
  font-size: 22px;
  color: #fff;
}

.our-stats-section {
  position: relative;
}
.our-stats-section .stats-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.our-stats-section .stats-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-stats-section .container {
  position: relative;
  z-index: 2;
}
.our-stats-section .shape-holder {
  position: absolute;
  top: 0;
  left: 0;
}
.our-stats-section .shape-holder img {
  max-width: 100%;
}

.state-box-inner {
  height: 330px;
  width: 330px;
  border: 3px solid #6c9894;
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.state-box-inner .number-counter {
  display: block;
  font-size: 60px;
  font-weight: 800;
  color: #6c9894;
  margin-bottom: 20px;
}
.state-box-inner p {
  font-size: 22px;
  line-height: 26px;
  color: #6c9894;
  font-weight: 500;
  padding: 0 40px;
  margin: 0;
}

.best-instructor-section {
  background: #6c9894;
  position: relative;
}
.best-instructor-section .section-right-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.best-instructor-section .section-right-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.best-instructor-section .text-wrap {
  max-width: 50%;
  text-align: left;
  margin: 0;
  padding: 320px 60px 320px 0;
}
.best-instructor-section .text-wrap .white-btn {
  margin-top: 50px;
}

.white-btn {
  display: inline-block;
  height: 45px;
  line-height: 48px;
  padding: 0 50px;
  color: #6c9894;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  border: 1px solid red;
}
.white-btn:hover {
  background: #c7d9d5;
  color: #6c9894;
  text-decoration: underline;
}

/*========INDEX PAGE END======*//*# sourceMappingURL=style.css.map */